<footer class="footer">
	<!-- Footer inspired by http://themes.getbootstrap.com/preview/?theme_id=1679 -->
	<div class="footer-widgets">
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<!-- Text widget-->
					<aside class="widget widget-text">
						<div class="widget-title">
							<h6>A propos de Pharmacodex</h6>
						</div>
						<ul>
							<li><a href="mailto:contact@pharmacodex.fr?body=Envoyez-nous vos remarques par email (oui, nous lisons nos emails ;))">Nous contacter</a></li>
							<li><a href="{{ "/les-donnees.html" | relative_url }}">Données utilisées</a></li>
							<!-- <li><a href="#"></li> -->
						</ul>
					</aside>
				</div>
				<div class="col-md-4">
					<!-- Recent entries widget-->
					<aside class="widget widget-recent-entries">
						<div class="widget-title">
							<h6>Parcourir le site</h6>
						</div>
						<ul>
							<li><a href="{{ "/medicaments-commencant-par/a" | relative_url }}">Tous les médicaments (ordre alphabétique)</a></li>
							<li>
								<!-- <a href="#"> -->
									Les catégories de médicaments (en construction...)
								<!-- </a> -->
							</li>
							<!-- <li><a href="#"></li> -->
						</ul>
					</aside>
				</div>
				<!-- TODO: Add column in footer when first blog posts are written -->
				<div class="col-md-4">
					<aside class="widget twitter-feed-widget">
						<div class="widget-title">
							<h6>Derniers articles</h6>
						</div>
						<ul>
							<!-- <li><a href="#">article 1</a></li>
							<li><a href="#">article 2</a></li> -->
							<li>à venir...</li>
						</ul>
					</aside>
				</div>
			</div>
		</div>
	</div>
	<div class="footer-bar">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="copyright">
						<p>© Tous droits réservés - Pharmacodex {{ 'now' | date: "%Y" }}</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
