---
title: CSS stylesheet
---

/**************** Imported from cayman ******************/
body { 
    padding: 0; 
    margin: 0; 
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif; 
    font-size: 16px; 
    line-height: 1.5; 
    color: #606c71; 
}

.page-header { color: #fff; text-align: center; background-color: #159957; background-image: linear-gradient(120deg, #155799, #159957); }
@media screen and (min-width: 64em) { .page-header { padding: 5rem 6rem; } }
@media screen and (min-width: 42em) and (max-width: 64em) { .page-header { padding: 5rem 4rem; } }
@media screen and (max-width: 42em) { .page-header { padding: 5rem 1rem; } }

.project-name { margin-top: 0; margin-bottom: 0.1rem; }
@media screen and (min-width: 64em) { .project-name { font-size: 3.25rem; } }
@media screen and (min-width: 42em) and (max-width: 64em) { .project-name { font-size: 2.25rem; } }
@media screen and (max-width: 42em) { .project-name { font-size: 1.75rem; } }

.project-tagline { margin-bottom: 2rem; font-weight: normal; opacity: 0.7; }
@media screen and (min-width: 64em) { .project-tagline { font-size: 1.25rem; } }
@media screen and (min-width: 42em) and (max-width: 64em) { .project-tagline { font-size: 1.15rem; } }
@media screen and (max-width: 42em) { .project-tagline { font-size: 1rem; } }

/**************** Custom ******************/

.page-header{
	background-color: #159957;
    background-image: linear-gradient(120deg, #155799, #159957);
}

.navbar{
    padding: 1.5rem 1rem;
}

.navbar-absolute{
    position: absolute;
    width: 100%;
    z-index: 1029;
}

.navbar-transparent{
	background-color: transparent !important;
    box-shadow: none;
    color: #FFFFFF;
    padding-top: 20px;
}

.navbar-regular{
	background-color: #159957;
    background-image: linear-gradient(120deg, #155799, #159957);
}

.navbar .row{
    width: 100%;
}

.logo-p9x img{
    width: 100%;
    height: auto;
}

.header{
    padding: 2rem 6rem 5rem;
	color: #fff;
    text-align: center;
}

.project-name{
	margin-bottom: 1.1rem;
}

.argument-section{
	padding: 2.5rem 0rem;
}

.argument{
	padding: 3.5rem 1rem;
}

.argument-gray{
	background-color: #f1f1f1;
}

.page-header h1, .page-header h2, .page-header h3, .page-header h4, .page-header h5, .page-header h6{
	color: white;
}

h1, h2, h3, h4, h5, h6{
    color: #159957;
}

.main-content{
	padding: 3.5rem 1rem;
}

.main-content .main-drug-info li{
	margin-bottom: 1rem;
}

/* To override cayman's theme */
.main-content .main-drug-info li p{
	margin-bottom: 0rem;
}

/* Footer */

.footer{
	background: #222;
    padding: 0rem 1rem;
}

.footer-widgets {
    padding: 3.5rem 0 1.5rem;
}

.footer-widgets .container{
    font-size: .8125rem;
}

.footer-widgets + .footer-bar {
    border-top: 1px solid #2c2c2c;
}

.footer-bar {
    text-align: center;
    font-size: .75rem;
    padding: 22px 0;
}

.widget {
    margin-bottom: 2rem;
}

.footer h1, .footer .h1, .footer h2, .footer .h2, .footer h3, .footer .h3, .footer h4, .footer .h4, .footer h5, .footer .h5, .footer h6, .footer .h6{
    color: #fff;
}

.footer a, .footer .social-icons > li > a {
    color: #cecece;
}

.widget ul {
    margin-bottom: 0;
    list-style: none;
    padding-left: 0;
}

/* home page (index) */
.img-drug-info{
    min-height: 160px;
    background: url("{{ site.baseurl }}/assets/img/info-drugs.svg") center no-repeat;
}

.img-drug-price{
    background: url("{{ site.baseurl }}/assets/img/euro-icon.svg") center no-repeat;
    min-height: 160px;
}

.img-compare-drug{
    background: url("{{ site.baseurl }}/assets/img/compare-drugs.svg") center no-repeat;
    min-height: 160px;
}

/* Pages "medicaments-commencant-par" */
.drug-list{
    padding: 2.5rem 0rem;
}