.page-header{
	background-color: #159957;
    background-image: linear-gradient(120deg, #155799, #159957);
    /*    position: absolute;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    z-index: -1;*/
}

.navbar-absolute{
    position: absolute;
    width: 100%;
    z-index: 1029;
}

.navbar-transparent{
	background-color: transparent !important;
    box-shadow: none;
    color: #FFFFFF;
    padding-top: 20px;
}

.navbar-regular{
	background-color: #159957;
    background-image: linear-gradient(120deg, #155799, #159957);
}

.logo{
	width: 60px;
	height: 40px;
	background: url("/assets/img/p9x-logo.svg") center no-repeat;
}

.header{
    padding: 2rem 6rem 5rem;
	color: #fff;
    text-align: center;
}

.project-name{
	margin-bottom: 1.1rem;
}

.argument-section{
	padding: 2.5rem 0rem;
}

.argument{
	padding: 3rem 0rem;
}

.argument-gray{
	background-color: #f1f1f1;
}

.page-header h1, .page-header h2, .page-header h3, .page-header h4, .page-header h5, .page-header h6{
	color: white;
}

h1, h2, h3, h4, h5, h6{
    color: #159957;
}

.main-content{
	padding: 5rem 0rem;
}

.main-content .main-drug-info li{
	margin-bottom: 1rem;
}

/* To override cayman's theme */
.main-content .main-drug-info li p{
	margin-bottom: 0rem;
}

/* Footer */

.footer{
	background: #222;
}

.footer-widgets {
    padding: 5rem 0 1.5rem;
}

.footer-widgets + .footer-bar {
    border-top: 1px solid #2c2c2c;
}

.footer-bar {
    text-align: center;
    font-size: .75rem;
    padding: 22px 0;
}

.widget {
    margin-bottom: 60px;
    font-size: .8125rem;
}

.footer h1, .footer .h1, .footer h2, .footer .h2, .footer h3, .footer .h3, .footer h4, .footer .h4, .footer h5, .footer .h5, .footer h6, .footer .h6{
    color: #fff;
}

.footer a, .footer .social-icons > li > a {
    color: #cecece;
}

.widget ul {
    margin-bottom: 0;
    list-style: none;
    padding-left: 0;
}

/* home page (index) */
.img-drug-info{
    /*width: 60px;
    height: 40px;*/
    background: url("/assets/img/info-drugs.svg") center no-repeat;
}

.img-drug-price{
    background: url("/assets/img/euro-icon.svg") center no-repeat;
}

.img-compare-drug{
    background: url("/assets/img/compare-drugs.svg") center no-repeat;
}

/* Pages "medicaments-commencant-par" */
.drug-list{
    padding: 2.5rem 0rem;
}