<!DOCTYPE html>
<html lang="en-us">
  
  {% include head.html %}

  <body>
    {% include page-header.html %}

    <section class="main-content">
      
      {{ content }}

      {% include page-footer.html %}

    </section>

  </body>

  	<!-- Scripts at the end for fast loading.
		 All the libraries below are used in all pages (search box on every page of the site)
  	 -->
  	<script src="/assets/js/jquery-3.3.1.min.js" type="text/javascript"></script>
	<script src="/assets/js/handlebars-v4.0.11.js" type="text/javascript"></script>
	<script src="/assets/js/typeahead.js" type="text/javascript"></script>
  <!-- No need for bootstrap.js for now -->
  <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>-->
	<script src="/assets/js/drug-search.js" type="text/javascript"></script>
</html>
